/* extra small screen <576 */
@media screen and (max-width: 576px) {
    .nav-link {
      text-align: center;
    }
    #jumba_text{
      position: relative;
      /* top: 20px; */
      left: 100px;
      bottom: 20px;
    } 
    h1.display-4{
      font-size: 55px;
      position: relative;
    }
    h2.heading2{
      font-size: 55px;
      
    }
    h4.heading4{
      font-size: 17px;
      
    }
  } 
  
  /* small screen 576 */
  @media screen and (min-width: 576px) {
    .nav-link {
      text-align: center;
    }
    #jumba_text{
      position: relative;
      /* top: 20px; */
      left: 100px; 
      bottom: 20px;
    } 
    h1.display-4{
      font-size: 55px;
    }
    h2.heading2{
      font-size: 55px;
    }
    h4.heading4{
      font-size: 17px;
    } 
  }
     
  
  /* medium screen 768 */
  @media screen and (min-width: 768px) {
    h1.display-4{
      font-size: 110px;
    }
    h2.heading2{
      font-size: 110px;
    }
    h4.heading4{
      font-size: 20px;
    } 


  }
  
  /* large screen 992 */
  @media screen and (min-width: 992px) {
    h1.display-4{
      font-size: 126px;
    }
    h2.heading2{
      font-size: 126px;
    }
    h4.heading4{
      font-size: 20px;
    } 
  }


body{
    background-image: url(./images/test1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.card-container{
    position: relative;
    margin-top: 200px;
    padding: 50px;
} 

.card-footer{
    background-color: #adb5bd;
}

.post_info_author_name{
    color: white
}

.card:hover{
    transform: translate3d(0px, -10px, 0px);
    transition: 0.25s ease;
    cursor: pointer;
}

.card-container .card{
    background-color: #1b1b1b;
    color: white;
    padding: 51px 13px 49px; 
}

#search-container{
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

#searchBtn{
    margin-left: .5rem
}

#searchFn{
    display: flex
}