/* extra small screen <576 */
  @media screen and (max-width: 576px) {
    .leaflet-touch .leaflet-bar a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
} 
  
/* small screen 576 */
@media screen and (min-width: 576px) {
    .leaflet-touch .leaflet-bar a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }
}
     
  
/* medium screen 768 */
@media screen and (min-width: 768px) {
    .leaflet-touch .leaflet-bar a {
        width: 40px;
        height: 40px;
        line-height: 40px;
    }
}
  
/* large screen 992 */
@media screen and (min-width: 992px) {
    .leaflet-touch .leaflet-bar a {
        width: 30px;
        height: 30px;
        line-height: 30px;
      }
}
#map-container{
    position: relative;
}

#map-btn{
    /* position: absolute;
    z-index: 314159;
    top: 10px;
    left: 50px */
    display: flex;
    justify-content: space-around;

}

#removal-container{
    height: 50px;
    background-color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    display: none
}

#map{
    height: 100vh;
}

#temple-popup-name{
    background-color: #adb5bd;
    padding: 5px;
    
}

.chiName{
    color:white;
    font-size: 32px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.engName{
    color: white;
    font-size: 32px;
    font-weight:200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.temple-popup-img{
    object-fit: contain;
    height: 100%;
}

.temple-popup-btngroup{
    display: flex;
    justify-content: space-evenly;
    padding: 5px;
    background-color: #F5F5DC;
}

#info-container{
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: #F5F5DC;
}

#info-container > div:nth-child(1) {
    width: 30%;
}

#info-container > div:nth-child(2) {
	width: 70%;
	height: 40vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

#startInput{
    margin-right: .5rem !important;
}

#endInput{
    margin-right: .5rem !important;
}

#routeBtn{
    margin-right: .5rem !important;
}